{
  // 检测范围：
  // Object.assign
  // Promise.resolve
  // Promise.all
  "env": {
    "targets": [
      "ie >= 11",
      "edge >= 12",
      "safari >= 9",
      "chrome >= 45",
      "opera >= 32",
      "firefox >= 34",
      "ios_saf >= 9"
    ]
  },
  "jsc": {
    "loose": true
  }
}
